@model IEnumerable<DapperORM2.Models.EmployeeModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Index";
    }
<h2>Index</h2>
<p><a asp-action="AddOrEdit" class="btn btn-primary">Create</a></p>
<table class="table table-striped">
    <tr>
       
        <th>Name</th>
        <th>Position</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Actions</th>
    </tr>
    @foreach(var item in Model)
    {
<tr>
   
    <td>@item.Name</td>
    <td>@item.Position</td>
    <td>@item.Age</td>
    <td>@item.Salary</td>
    <td>
        <a asp-action="AddOrEdit" class="btn btn-primary" asp-route-id="@item.EmployeeId">Edit</a>
        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.EmployeeId">Delete</a>

    </td>
</tr>
    }
</table>
